.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper label input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
